/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  scroll-padding-top: 2rem;
  scroll-behavior: smooth;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
:root {
  --main-color: #fd4646;
  --text-color: #171427;
  --bg-color: #fff;
  --shdw-color: hsl(0 4% 15% / 30%);
  --add-crate-color: navy;
  --price-color: firebrick;
}
#logo-img {
  width: 30px;
  margin-right: 10px;
}
img {
  width: 100%;
}
body {
  color: var(--text-color);
  background-color: var(--bg-color);
}

body.dark {
  --main-color: #4e0303;
  --text-color: #fd4646;
  --bg-color: #161616;
  --shdw-color: hsla(0, 0%, 82%, 0.3);
  --add-crate-color: #fff;
  --price-color: #fff;
}
.container {
  max-width: 1068px;
  margin: auto;
  width: 100%;
}
section {
  padding: 4rem 0 3rem;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: var(--main-color);
  box-shadow: 0 1px 4px var(--shdw-color);
  z-index: 100;
}
.nav {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  padding: 20px 0;
}

.logo {
  display: flex;
  font-size: 1.1rem;
  color: var(--text-color);
  font-weight: 400;
  align-items: center;
}

.icons {
  display: flex;
  margin-right: 100px;
}

.nav-icons {
  border-radius: 25%;
  font-size: 1.8rem;
  cursor: pointer;
  margin-right: 10px;
}

#search {
  position: fixed;
  margin-right: 10px;
  border-radius: 10% / 50%;
  padding: 0 5px 0 5px;
  background-color: var(--bg-color);
  color: var(--text-color);
  top: -100%;
}

#search.active {
  position: static;
  top: 0px;
}

#dark {
  position: fixed;
  top: -100px;
}

#dark.active {
  position: static;
  top: 0px;
}
#light {
  position: static;
  top: 1;
}
#light.remove {
  position: fixed;
  top: -100px;
}

#cart-icon {
  border-radius: 25%;
  font-size: 1.8rem;
  cursor: pointer;
}
.cart {
  position: fixed;
  top: 0;
  right: -100%;
  width: 410px;
  min-height: 100vh;
  padding: 20px;
  background: var(--bg-color);
  box-shadow: -2px 0 4px var(--shdw-color);
  transition: 0.3s;
}
.cart.active {
  right: 0;
}
.cart-title {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 600;
  margin-top: 2rem;
}
.cart-box {
  display: grid;
  grid-template-columns: 32% 50% 18%;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
}
.cart-img {
  width: 100px;
  height: 100px;
  object-fit: contain;
  padding: 10px;
}
.detail-box {
  display: grid;
  row-gap: 0.5rem;
}
.cart-product-title {
  font-size: 1rem;
  text-transform: uppercase;
}
.cart-price {
  font-weight: 500;
}
.cart-quantity {
  border: 1px solid var(--text-color);
  outline-color: var(--main-color);
  width: 2.4rem;
  text-align: center;
  font-size: 1rem;
}
.cart-remove {
  font-size: 24px;
  color: var(--main-color);
  cursor: pointer;
}
.total {
  display: flex;
  justify-content: flex-end;
  margin-top: 1.5rem;
  border-top: 1px solid var(--text-color);
}
.total-title {
  font-size: 1rem;
  font-weight: 600;
}
.total-price {
  margin-left: 0.5rem;
}
.btn-buy {
  display: flex;
  margin: 1.5rem auto 0 auto;
  padding: 12px 20px;
  border: none;
  background: var(--main-color);
  color: var(--bg-color);
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
}
.btn-buy:hover {
  background: var(--text-color);
}
#close-cart {
  position: absolute;
  top: 1rem;
  right: 0.8rem;
  font-size: 2rem;
  color: var(--text-color);
  cursor: pointer;
}
.section-title {
  font-size: 1.5rem;
  font-weight: 600;
  text-align: center;
  margin-bottom: 1.5rem;
}
.store {
  margin-top: 2rem;
}
.store-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1.5rem));
  gap: 1.8rem;
}
.product-box {
  border-radius: 10% / 5%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 20px;
}
.product-box:hover {
  padding: 10px;
  border: 1px solid var(--add-crate-color);
  transition: 0.3s;
}
.product-img {
  width: 100%;
  height: auto;
  margin-bottom: 0.5rem;
  aspect-ratio: 4/6;
  object-fit: contain;
}

.product-title {
  font-size: 1.1rem;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 0.5rem;
}

.price {
  font-weight: 500;
  color: var(--price-color);
}

.hide {
  display: none;
}

.add-cart {
  position: absolute;
  bottom: 2px;
  right: 2px;
  background: var(--text-color);
  color: var(--bg-color);
  padding: 10px;
  cursor: pointer;
}
.add-cart:hover {
  background: var(--add-crate-color);
}

@media (max-width: 1080px) {
  .nav {
    padding: 15px;
  }
  section {
    padding: 3rem 0 2rem;
  }
  .container {
    margin: 0 auto;
    width: 90%;
  }
  .store {
    margin-top: 2rem !important;
  }
}

@media (max-width: 400px) {
  .nav {
    padding: 11px;
  }
  .logo {
    font-size: 1rem;
  }
  .cart {
    width: 320px;
  }
}

@media (max-width: 360px) {
  .store {
    margin-top: 1rem !important;
  }
  .cart {
    width: 280px;
  }
}
p {
  margin-right: 5px;
  margin-top: 2px;
  font-weight: 600;
}

a {
  color: var(--text-color);
  margin-right: 5px;
  margin-top: 2px;
  font-weight: 600;
}

.exclusive {
  font-size: x-small;
  color: red;
}
footer {
  white-space: nowrap;
  text-align: center;
  background: var(--main-color);
  box-shadow: 1px 0px 4px var(--shdw-color);
  z-index: 100;
  padding: 0 1200px 0 700px;
}

footer p {
  margin: 5px 0;
  padding: 5px 0;
}

span {
  color: var(--add-crate-color);
}
